header {
    text-align: center;
}

h1 {
    font-family: 'Helvetica';
    font-weight: 900;
}

h2 {
    font-family: 'Helvetica';
    color: #11AB68;
    font-weight: 750;
}

h3 {
    font-family: 'Helvetica';
}

p {
    font-family: 'Helvetica';
}

li {
    font-family: 'Helvetica';
}

/* #parkGallery {
    display: grid;

} */

img {
    justify-self: center;
    width: auto;
    height: 12rem;
}

.card {
    display: inline-grid;
    width: 15rem;
    height: 25rem;
    padding: 1rem;
    border: solid black;
    text-align: center;
    overflow: hidden;
}

#parkImg {
   float: left;
   width: 33%;
   margin: 3em;
}

#mainPark {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    border-radius: 1.75%;
    width: 100%; 
    height: 25%;
    overflow: hidden;
}

#filters-container {
    padding: 15px;
    outline: solid 5px #11AB68;
    overflow: hidden;
}

.hidden {
    display: none;
}

.formData {
    float: left;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formLabel {
    float: left;
    width: 25%;
    margin-top: 15px;
}

/* #costRange {
    max-width: 70%;
} */

ul {
    columns: 4;
}

p#minValue {
   margin-right: 5px;
}

p#maxValue {
    margin-left: 5px;
}

#slider {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div#allCheckboxes label {
    margin-right: 15px;
}


/* heart style */
.heartGlyph {
    font-size: 28px;
}

#favList {
    left: 0;
    width: 250px;
    height: 100%;
    /* float: right; */
    /* display: inline; */
    /* position: fixed; */
    background-color: #cd6ef5;
}

p {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

#parkGallery {
    margin-left: 300px;
}