header {
    text-align: center;
    margin-left: 200px
}

h1 {
    font-family: 'Helvetica';
    font-size: 350%;
    font-weight: 900;
    color: #446622;
}

h2 {
    font-family: 'Helvetica';
    color: #446622;
    font-weight: 750;
}

h3 {
    font-family: 'Helvetica';
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

p {
    font-family: 'Helvetica';
}

li {
    font-family: 'Helvetica';
}

label {
    font-family: 'Helvetica';
}

#showFilters {
    display: inline-block;
    padding: 10px;
}

#search-container {
    margin: auto;
    width: 50%;
}

select {
    font-size: 16px;
}

input[type=text]{
    padding: 10px;
    font-family: 'Helvetica';
    border-radius: 10px;
    border-width: 1px;
    width: 65%;
}

input[type=submit]{
    padding: 10px;
    font-family: 'Helvetica';
    font-size: 16px;
    border-radius: 10px;
    border-width: 1px;
    margin-top: 15px;
    width: 15%;
    outline: none;
    border: none;
    background-color: #446622;
    text-align: center;
}


input[type=text]:focus {
    outline-color: #446622;
}


.card {
    width: 30%;
    height: 350px;
    border-radius: 5px;
    display: inline-grid;
    margin: 10px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
.card > img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    justify-self: center;
    height: 150px;
}

.card:hover {
    box-shadow: 0 6px 20px 0 rgba(0,0,0,0.2);
}
  
#mainPark {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding: 2px 16px;
    border-radius: 1.75%;
    height: 25%;
    width: 90%;
    margin: auto;
}

div#main div#mainPark h3 {
    text-align: left;
}

div#main div#mainPark p {
    text-align: left;
}

div#main div#mainPark li {
    text-align: left;
}

#mainPark > img {
    float: left;
    width: 40%;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}

#filters-container {
    padding: 15px;
    overflow: hidden;
}

.hidden {
    display: none;
}

.formData {
    float: left;
    width: 75%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.formLabel {
    float: left;
    width: 25%;
    margin-top: 15px;
    text-align: left;
}

ul {
    columns: 4;
}

div#allCheckboxes label {
    margin-right: 15px;
}

.heartGlyph {
    font-size: 20px;
}


.card > p {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.favListP {
    background-color: #f1f1f1;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
}

#favList {
  width: 200px;
  height: 100%; 
  position: fixed;
  top: 0;
  left: 0;
  background-color: #446622;
  padding: 5px;
}

#main {
    margin-left: 215px;
    text-align: center;
}

#favTitle {
    color: #fff;
}
